body {
  background-color: #a3ddb4;
  margin: 50px;
}

.btn {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  margin: 10px 0;
  padding: 20px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background: #026d02;
  transition: 0.1s;
}

.btn:hover {
  transform: scale(1.5);
}
